@import "../../shared/variables.scss";

.main-container {
  width: 95%;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-weight: bold;
  color: $red;
  text-shadow: 1px 1px 1px $gold;
}

.best-presentation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.best-description {
  width: 30%;
  h4 {
    color: $red;
    text-shadow: 1px 1px 1px $gold;
    margin: 0 0 0 2em;;
  }
  .vote {
    text-align: center;
    color: $gold;
    background-color: $red;
    display: block;
    margin: 1em auto;
    border: none;
    border-radius: 12px;
    padding: 8px;
    font-weight: bold;
    font-size: 1.3em;
  }
}

